<!DOCTYPE html>
<html>
<head>
    <title>Bowling Alley</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css">
    <link rel="stylesheet" href="css/site.css">
    @RenderSection("styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Bowling Alley</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Forside</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Price" asp-action="Index">Priser</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Customer" asp-action="Index">Book en bane</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Booking" asp-action="Delete">Annullér booking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Contact">Kontakt os</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="mt-5 bg-dark text-white">
        <div class="container">
            <p>&copy; 2023 Our Bowling Alley. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>
    <script src="https://kit.fontawesome.com/ee16ecd062.js" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            // jQuery UI datepicker initialization
            $("#datePicker").datepicker();
        });

        $(document).ready(function () {
            $('#timePicker').timepicker({
                showMeridian: false,
                minuteStep: 60,
                defaultTime: '12:00',
                icons: {
                    up: 'fas fa-chevron-up',
                    down: 'fas fa-chevron-down'
                },
                format: 'hh'
            });

            // Restrict manual editing of the time input
            $('#timePicker').on('keydown paste', function (e) {
                e.preventDefault();
            });

            // Handle time selection changes
            $('#timePicker').on('changeTime.timepicker', function (e) {
                var selectedHour = e.time.hours;
                $(this).val(selectedHour + ':00');
            });
        });
    </script>


</body>
</html>
