@model BowlingMVC.Models.Booking
@{
    ViewData["Title"] = "Ændre din reservation";
}

<div class="text-center">
    <h1 class="display-4">Her kan du foretage ændringer i din reservation</h1>
</div>
